
.cabecalho {
    background-color: var(--cor-contraste-claro);
    border-radius: 0 0 10px 10px;
    box-shadow: var(--sombra);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.75rem;
    margin-bottom: 2rem;
}

.cabecalho__logo {
    width: 3rem;
    border: 1px solid white;
	border-radius: 40px;
}

.cabecalho__lista-navegacao {
    display: flex;
}

.cabecalho__link {
    margin-left: 2rem;
}

.titulo-pag {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-top: 15rem;
    color: black;
}
